<link rel="stylesheet" href="../css/style.css">
<%- include('partials/Navbar.ejs',{authenticated:authenticated}) %>
    <style>
        .singleBlog {
            width: vw;
            min-height: 100vh;
            display: flex;
            justify-content: center;

        }

        .singleBlog .wrapper {
            background-color: white;
            border-radius: 10px;
            width: 900px;
            max-width: 98vw;
            /* background-color: #4d70b8; */
            margin: 100px 0;
        }

        .wrapper .blogTitle {
            font-size: 45px !important;
        }



        .singleBlog .profileContainer {
            display: flex;
            align-items: center;
            padding: 10px 5px;
            font-family: 'Inter', sans-serif;
        }

        .singleBlog .profileContainer .img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 0 2px #6262936c;
        }

        .singleBlog .profileContainer .img img {
            object-fit: contain;
            width: 40px;
            height: 40px;

        }

        .singleBlog .profileContainer h5 {
            color: rgba(65, 62, 62, 0.699) !important;
            text-decoration: none !important;
        }

        .singleBlog .heading {
            font-family: 'Inter', sans-serif !important;
            color: #3c3c4e;

        }

        .singleBlog .body h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Inter', sans-serif;
            color: #3c3c4e;
        }

        .body {
            font-size: 1.125rem;
            line-height: 1.7777778;
            overflow-wrap: break-word
        }

        .body img {
            max-width: 900px !important;
            width: 98% !important;
        }

        .body a {
            color: #6f6f93;
        }

        .body a:hover {
            color: #3c3c4e;
        }



        .body blockquote {
            border-left: 5px solid #d0d0d0;
            padding-left: 10px;
            font-style: italic;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #6f6f93;
            color: white;
        }
        #profileLink{
            text-decoration: none;
        }
    </style>
<% var date = blog.createdAt;
var month = ["January", "February", "March", "April", "May", "June",
"July", "August", "September", "October", "November", "December"][date.getMonth()]
var year = date.getFullYear();
var Date= date.getDate();
date= `${Date} ${month} ${year}`;
%>
    <div class="singleBlog">
        <div class="wrapper p-3">
            <a href="/user/<%= blog.author._id %>" id="profileLink">
            <div class="profileContainer">
              
                    <div class="img">
                        <img src="<%= blog.author.image %>" alt="<%= blog.author.fullName %>"
                            referrerpolicy="no-referrer" />

                    </div>
               
                <div class="profileInfo">
                    <h5 class="mx-2 my-0 heading ">
                        <%= blog.author.fullName %>
                    </h5>


                </div>
           
            </div>
        </a>

            <p class="date text-secondary mx-2">
                <%= date %>
            </p>
            <h1 class="heading mt-5 mb-4 mx-2 blogTitle">
                <%= blog.title %>
            </h1>
            <h3 class=" text-secondary mx-2 my-3">
                <%= blog.shortDescription %>
            </h3>
            <div class="body mx-2">
                <%- blog.body %>
            </div>
          

        </div>
    </div>